
@font-face {
    font-family: FiraSansUltraLight;
    src: url('assets/fonts/FiraSans-UltraLight.otf');
}

@font-face {
    font-family: FiraSansLight;
    src: url('assets/fonts/FiraSans-Light.otf');
}

@font-face {
    font-family: FiraSansMedium;
    src: url('assets/fonts/FiraSans-Medium.otf');
}