
$font-stack:            FiraSansLight, Helvetica, sans-serif;
$font-primary-color:  #000;
$font-primary-size:     16px;


$screen-xxs-max: 479px;
$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;