
$font-stack:    Helvetica, sans-serif;
$primary-color: #000;

body {
  font: 100% $font-stack  ;
  color: $primary-color;
}

.sitename {
    color: white;    
}

.sitename:hover {
    color: red;
}
.contentContainer {
    margin-top: 120px;
}